@font-face{
    font-family: hp;
    src: url(./font/HPSimplifiedRegular.ttf) format("truetype");
}

body{
    margin: auto;
    background:#ffffff;
    font-family: hp;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 500px;
    height: 100vh;
}



.section{
    flex:1;
    text-align: center;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#id{
    align-items: center;
}

#top{
    margin: 1rem;
    text-align: center;
    padding-top: 2rem;
    justify-content: center;
}

#top p{
    margin: 0.2em;
}

#logo{
    text-align: center;
    margin: 1rem;
}

#footer{
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin: 1rem;
}

#footer p{
    margin: 0.7em;
}

@media only screen and (max-width: 500px){
    #top p{
        margin: 0.05em;
    }

    #footer p{
        margin: 0.3em;
    }

    #footer{
        padding-bottom:0px;
    }
}