@font-face{
    font-family: hp;
    src: url(./font/HPSimplifiedRegular.ttf) format("truetype");
}

body{
    margin: auto;
    background:#ffffff;
    font-family: hp;
    color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 500px;
    height: 100vh;
    background-color: #0097D7;
}



.section{
    flex:1;
    text-align: center;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top{
    text-align: center;
    margin-bottom:1rem;
    justify-content: center;
    height:40%;
}

#top p{
    margin: 0.2em;
}

#logo{
    text-align: center;
    margin: 1rem;
    height:40%;
}

#footer{
    justify-content: flex-end;
    padding-bottom: 1rem;
    margin: 1rem;
    height:20%;
    margin-left: 3rem;
    margin-right: 3rem;
    align-items: stretch;
}

#footer p{
    margin: 0.7em;
}

.bullet{
    display: flex;
    margin-bottom: 0.25rem;
}

.bullet-icon{
    flex:1
}

.bullet-text{
    flex: 9;
    font-size: smaller;
    text-align: left;
    padding-left: 1rem;
    margin:auto;
}

@media only screen and (max-width: 500px){
    main{
        height:90vh;
    }

    #top p{
        margin: 0.05em;
    }

    #top{
        padding-bottom: 1rem;
    }

    #footer p{
        margin: 0.3em;
    }

    #footer{
        padding-bottom:0px;
        margin-bottom: 0px;
    }
}